name: Deploy MkDocs Documentation
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x' 
      
      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material mkdocs-i18n jupyter nbconvert
      
      - name: Convert Notebooks to Markdown
        run: |
          find . -name "*.ipynb" -print0 | xargs -0 -I {} jupyter nbconvert --to markdown --output-dir=$(dirname {}) {}

      - name: Build MkDocs site
        run: mkdocs build

      - name: Create redirect
        run: |
          echo '<meta http-equiv="refresh" content="0; url=en/" />' > site/index.html
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
